#mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
}

#scores {
  display: flex;
}

#instructions {
  text-align: center;
  color: #8a6c26;
  font-size: 30px;
  margin-top: .5%;
}

#scores p {
  font-size: 30px;
  margin: 10px;
  font-family: 'Permanent Marker', cursive;
  color: wheat;
}

.navbar {
  background: #282512;

}

.scoreText {
  color: #8a6c26;
  font-family: 'Permanent Marker', cursive;

}

.navbar-brand {
  color: #68552D;
  font-family: 'Permanent Marker', cursive;
}

.navbar-brand :hover {
  color: #8a0303;
 
}

.imgCard{
  width: 15%;
  margin: .5%;
  border: 7px solid #282512;
  border-radius: .75rem;
  
}
